body{
    font-family: "monospace",sans-serif;
}

.font-primary{
    color: #00abae;
}

.title.icon{
    font-size: 20px;
    font-weight: bold;
}

p{
    font-size: 14px;
}

h2{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}
a.font-black{
    color: #000 !important;
}
.Sign_Up {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
}